
body
  background-color:#EBE9DC
  padding: 0
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color: #0069FF
 
#wrapper
  text-align: center
  width: 700px
  margin: 0 auto
  padding: 40px 20px
  background: #fff
  background-color:#EBE9DC

#logo
  text-align: center

#display
  margin: 20px 0 50px
  background-color:#EBE9DC

#userbar
  margin-bottom: 20px
