extends layout

block content
  #wrapper
    #logo
      a(href='/')
        img(src='/images/h.png')
    #display
      p!= developer1
      p!= developer2
      p!= developer3
      
    include footer
